/*
 * Scaffolding and type
 */

html {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

a:link {
  color: #08c;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.02px;
  line-height: 1.2;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }

p {
  color: #333;
  font-size: .9rem;
}

.lead {
  font-size: 1rem;
  margin: 0.4em 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ff9f20;
  margin: 1.2em 0;
  padding: 1.2em;
  color: #777;
}

blockquote p {
  display: inline;
}

ul li {
  margin-bottom: .25rem;
}

/*
 * Code
 */

code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .8rem;
}

code {
  padding: 2px 4px;
  color: #d44950;
  background-color: #f5f2f0;
  border-radius: .2rem;
}

pre {
  padding: 15px;
  margin: .5em 0;
  display: block;
  line-height: 1.5;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f2f0;
  overflow: auto;
}

pre.code {
  margin: 0;
}

pre code {
  padding: 0;
  color: inherit;
  border: 0;
}

/*
 * Masthead
 */

.masthead {
  width: 80%;
  margin: 0.2em auto;
  padding: .5em .5em .5em 0;
  border-bottom: .08em solid rgba(0, 0, 0, .1);
}
.masthead a {
  color: #08c;
  text-decoration: none;
}
.masthead a:visited {
  color: #08c;
}
.masthead a:hover {
  text-decoration: underline;
}

.masthead h1 {
  margin: .2em 0;
  font-size: 2.2rem;
  font-weight: bold;
}

.masthead .icon {
  display: inline-block;
  font-size: 2rem;
  margin: 0 .2rem;
}

.masthead-links {
  font-size: .9rem;
}
.masthead-links a {
  text-decoration: none;
  color: #f61b68;
  transition: 0.1s all linear;
}
.masthead-links a:hover {
  text-decoration: underline;
}

/*
 * Sections
 */

.heading {
  margin: auto;
  padding: 2em 7em;
  background-color: #dfe1e8;
}

.section {
  margin: auto;
  width: 80%;
  margin: 15px auto;
}
