/*
 * Base
 */

html {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02px;
}

h1 { font-size: 1.8rem; }
h2 {
  font-size: 1.7rem;
  border-bottom: .08em solid rgba(0, 0, 0, .1);
}
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }

p {
  color: #333;
  font-size: .9rem;
  line-height: 1.5;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ff9f20;
  margin: 1em 0;
  padding: 1em;
  color: #777;
}

blockquote > p {
  margin: 0;
}

ul, ol {
  font-size: .9rem;
}

ul li, ol li {
  margin-bottom: .2rem;
}

/*
 * Code
 */

code, pre {
  font-family: "PT Mono", "Menlo,Courier New", monospace;
  font-size: 85%;
}

pre {
  position: relative;
  display: block;
  padding: 40px 15px 15px;
  line-height: 1.5;
  white-space: pre-wrap;
  background-color: #f5f2f0;
  overflow: auto;
}

pre:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8px 0;
  background-color: #2196F3;
  color: #fff;
  text-indent: 15px;
}

.description > pre:before {
  content: "Example";
}

.code > pre:before {
  content: "Rule set";
}

pre > code {
  padding: 0;
  background-color: #f5f2f0;
  border: 0;
  border-radius: .2rem;
}

.description p > code {
  padding: 2px 4px;
  background-color: #f5f2f0;
  color: #ff261e;
  border-radius: .2rem;
}

.description > p, .description > pre {
  margin: .5em 0;
}

/*
 * header
 */

header {
  padding: .5em .5em .5em 0;
  background-color: #1976d2;
  border-bottom: .08em solid rgba(0, 0, 0, .1);
}

header > .container {
  width: 70%;
  margin: 15px auto;
}

.headline {
  font-size: 2.2rem;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
 * contents
 */

main {
  width: 70%;
  margin: 15px auto;
  display: table;
  clear: both;
}

main:before, main:after {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contents {
  width: 70%;
  float: left;
}

.sidebar {
  width: 30%;
  margin-top: 10px;
  float: left;
}

.nav {
  margin: 5px 0;
  padding-left: 15px;
  list-style: none;
  font-size: .8rem;
}

.nav-title {
  margin: 0px;
}

.nav-link {
  padding-left: 15px;
  color: #868686;
  text-decoration: none;
}

.nav-link:hover {
  border-left: 2px solid #ff261e;
  color: #C8C8C8;
}

/*
 * footer
 */

footer {
  padding: .2em 0 0;
  text-align: center;
  background-color: #455a64;
  overflow: hidden;
  font-size: 1rem;
}

footer > .container {
  margin: 8px auto;
}

footer p {
  margin: 0;
  font-size: .8rem;
  color: #fff;
}

footer a {
  font-size: .9rem;
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
